.talk_word{
  width: 280px;
-moz-box-shadow: 0 200px 6px -6px
#777;
box-shadow: 0 15px 6px -6px #777;
border: 1px solid #000000;
border: 1px solid white;
-moz-border-radius: 7px;
-webkit-border-radius: 87px;
padding: 10px;
color:black;
}
